.slice__imagePortrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80rem;

    img {
        width: 100%;
    }

    .credit {
        margin-top: 1rem;
        margin-left: auto;
        font-size: 1.2rem;
        line-height: 1.7;
    }
}