.slice__imageLandscapeFull {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    flex-direction: column;
    padding: 8rem 0;

    @media screen and (max-width: $bp-medium) {
        padding: 4rem 0;
    }

    img {
        width: 100%;
        transition: opacity .3s ease-in-out;
    }

    .credit {
        margin: 1rem 1rem 0 auto;
        font-size: 1.2rem;
        line-height: 1.7;
    }
}