.slice__imageLandscape {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        width: 100%;
        transition: opacity .3s ease-in-out;
    }

    .credit {
        margin-top: 1rem;
        margin-left: auto;
        font-size: 1.2rem;
        line-height: 1.7;
    }
}