.slice__quote {

    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: opacity .3s ease-in-out;

    .content {
        h3 {
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 1.2;
            color: var(--color-grey);
        }
    }

    .author {
        margin-top: 1rem;
        margin-left: auto;
        font-size: 1.2rem;
        line-height: 1.7;
    }
}