.gallery-all {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.list {
    padding: 0 2rem;
  }

  .gallery-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 140rem;
    width: 100%;
    height: 90vh;
    min-height: 90vh;
    padding: 1rem;
    margin: 0 auto;

    @media screen and (max-width:$bp-largest) {
      max-width: 95rem;
    }

    @media screen and (max-width: $bp-large) {
      max-width: 70rem;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      padding: 0;
      margin-bottom: 6rem;
      min-height: auto;
    }

    @media screen and (max-width: $bp-medium) {
      max-width: 100%;
    }

    .infos {
      margin-right: 5rem;
      width: 36.5rem;

      @media screen and (max-width: $bp-large) {
        width: 100%;
        margin: 0 auto;
      }

      @media screen and (max-width: $bp-large) {
        max-width: 47.5rem;
      }

      a {
        text-decoration: none;
        color: currentColor;
        width: 100%;
        height: 100%;
      }



      .title {
        position: relative;

        .project-title {

          overflow: hidden;

          & span {
            display: block;
            opacity: 0;
            transform: translateY(100%);
          }
        }

        .lock {
          position: absolute;
          top: 64%;
          left: 0;
          transform: translate(-120%, -50%);

          @media screen and (max-width: $bp-large) {
            top: 0;
            transform: translate(0%, -100%);
          }
        }

        h1 {
          font-style: normal;
          font-weight: normal;
          font-size: 4.5rem;
          line-height: 1.1;
        }

        .date,
        .place {
          position: absolute;
        }

        .date {
          top: 0;
          right: 0;
          transform: translateY(-100%);
        }

        .place {
          bottom: -0.5rem;
          left: 0;
          transform: translateY(100%);
        }

      }

      .richtext {
        margin-top: 4.5rem;
        font-size: 1.4rem;
        line-height: 1.4;
        color: var(--color-grey);
      }
    }

    .thumbnail {
      max-width: 62rem;
      height: 100%;
      width: 100%;
      text-decoration: none;
      overflow: hidden;
      pointer-events: fill;

      @media screen and (max-width: $bp-largest) {
        width: 50%;
        max-width: unset;
      }

      @media screen and (max-width: $bp-large) {
        width: 100%;
        margin-top: 5rem;
        max-width: 47.5rem;
      }


      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
        will-change: transform;
      }


    }

    a.thumbnail:hover>img {
      transform: scale(1.05);
    }

    .preview-img {
      transform: scale(1.05);
    }

    &:first-child {
      margin-top: 5vh;

      @media screen and (max-width: $bp-large) {
        margin-top: 12rem;
      }
    }

    &:last-child {
      margin-bottom: 5vh;

      @media screen and (max-width: $bp-large) {
        margin-bottom: 10rem;
      }
    }
  }
}